#select_label {
    display: flex;
    overflow-x: auto;
    list-style: none;
    cursor: pointer;
    margin: 0px;
}

li {
    flex:none;
    margin-left: 5px;
    width: 100px;
    background-color: #dbe2e1;
    text-align: center;
    color: black;
    font-weight:500;
}



.selected {
    background-color: #aeded9;
}

.color_text {
    font-size: 0.6em;
    padding-left: 10px;
    color: #828282;
    font-weight:200;
    align-items: center;
      height: 25px;
    line-height: 25px;

}